.bt-search {
  width: 80%;
  display: flex;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
  border: 1px grey solid;
  background: rgba(167, 166, 166, 0.52);
}

.bt-search button, .bt-search input {
  padding: 10px;
}

.bt-search input[type=text] {
  width: 90%;
  border-radius: 10px;
}

a button {
  border-radius: 10px;
  border: 2px grey solid;
  background-color: rgba(48, 201, 235, 0.833);
}

body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  background-color: rgba(48, 201, 235, 0.833);
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav .nav-left {
  padding: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.nav .nav-left img {
  border-radius: 50px;
}
.nav .nav-left ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav .nav-left ul a {
  text-decoration: none;
}
.nav .nav-left ul a li {
  font-size: 20px;
  border: 1px white solid;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
.nav .nav-left ul a li:hover {
  background-color: rgba(0, 0, 255, 0.18);
  cursor: pointer;
  color: white;
}
.nav .nav-right {
  text-align: center;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-right button {
  color: white;
}
.nav .nav-right button {
  padding: 8px;
  width: 80px;
  background-color: rgba(0, 0, 255, 0.18);
  border: 1px white solid;
  font-size: 17px;
  border-radius: 10px;
}
.nav .nav-right button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

.bt-search {
  width: 80%;
  display: flex;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
  border: 1px grey solid;
  background: rgba(167, 166, 166, 0.52);
}

.bt-search button, .bt-search input {
  padding: 10px;
}

.bt-search input[type=text] {
  width: 90%;
  border-radius: 10px;
}

a button {
  border-radius: 10px;
  border: 2px grey solid;
  background-color: rgba(48, 201, 235, 0.833);
}

.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 80%;
  margin-top: 10%;
}
.foot .footer {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.foot .footer .f-left, .foot .footer .f-center, .foot .footer .f-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foot .footer .f-left .title, .foot .footer .f-center .title, .foot .footer .f-right .title {
  font-size: 20px;
  margin-left: 9px;
  font-weight: bold;
}
.foot .footer .f-left .left, .foot .footer .f-center .left, .foot .footer .f-right .left {
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.bt-search {
  width: 80%;
  display: flex;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 5%;
  border: 1px grey solid;
  background: rgba(167, 166, 166, 0.52);
}

.bt-search button, .bt-search input {
  padding: 10px;
}

.bt-search input[type=text] {
  width: 90%;
  border-radius: 10px;
}

a button {
  border-radius: 10px;
  border: 2px grey solid;
  background-color: rgba(48, 201, 235, 0.833);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 0;
  background: white;
  font-family: sans-serif;
}

.container-left {
  background: rgba(11, 27, 170, 0.651);
  width: 40%;
  text-align: center;
  border-radius: 8px 0px 0px 8px;
}
@media (max-width: 412px) {
  .container-left {
    width: 40%;
  }
}
.container-left .title h1 {
  display: flex;
  justify-content: center;
  margin-top: 75%;
  color: white;
}
.container-left .title h1 span {
  color: rgb(11, 27, 170);
}

@media (max-width: 412px) {
  .form .container-left {
    display: none;
  }
}

.container-right {
  width: 70%;
  background: rgba(255, 255, 255, 0.678);
  align-items: center;
  border-radius: 0px 8px 8px 0px;
}
@media (max-width: 412px) {
  .container-right {
    width: 90%;
  }
  .container-right .input-group {
    margin-top: -5%;
  }
  .container-right .signup {
    margin-bottom: 10%;
  }
}
.container-right .title h3 b {
  color: rgb(11, 27, 170);
}
.container-right .input {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.container-right .input input[type=text] {
  padding: 8px;
  width: 41.02%;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: solid 1px gray;
}
.container-right .input-group {
  display: flex;
  margin-top: 30px;
  gap: 10px;
  justify-content: center;
  background: rgba(255, 255, 255, 0.678);
}
.container-right .input-group input[type=text], .container-right .input-group input[type=password], .container-right .input-group input[type=email] {
  padding: 8px;
  box-sizing: border-box;
  width: 85%;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.678);
  border-bottom: solid 1px gray;
}
.container-right .signup {
  margin-top: 10%;
  margin-left: 20%;
  margin-bottom: 7%;
}
.container-right .signup button {
  border-radius: 20px;
  border: 2px solid rgb(11, 27, 170);
  padding: 10px;
  width: 80%;
  color: rgb(11, 27, 170);
}
.container-right .signup button a {
  text-decoration: none;
}
.container-right .signup button:hover {
  cursor: pointer;
  background: rgba(11, 27, 170, 0.651);
}
.container-right .checkbox {
  margin-top: 10%;
  margin-left: 30px;
}
.container-right h3 {
  text-align: center;
  font-size: 30px;
}

@media (max-width: ) {
  .input {
    margin-left: 1%;
  }
}

@media (max-width: 884px) {
  .container-right {
    width: 90%;
  }
}

.form {
  width: 50%;
  margin-top: 46%;
  position: absolute;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 17px;
  border-radius: 10px 10px 10px 10px;
}
@media (max-width: 412px) {
  .form {
    width: 80%;
    margin-top: 40%;
  }
}

@media (max-width: 884px) {
  .form {
    margin-top: 120%;
    width: 80%;
  }
}/*# sourceMappingURL=signup.css.map */